html {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: gold;
    color: white;
}

header h1 {
    padding-left: .5rem;
}

.menu-lateral {
    background-color: bisque;
    height: 100vh;
}

.row .aside {
    background-color: blue;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -100%;
    transition: all .5s ease-in-out;
}

.menu-lateral ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.menu-lateral ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: olive;
    font-weight: 600;
    width: 90%;
    border-radius: 5px;
}

.menu-lateral ul li::before {
    content: "";
    background-color: lightsalmon;
    position: absolute;
    left: .5%;
    height: 3em;
    width: .8rem;

}

.menu-lateral ul li:hover {
    background-color: olive;
    color: bisque;
    cursor: pointer;
}

.salir:hover {
    background-color: red !important;
}

@media (max-width: 576px) {
    .menu-lateral ul li {
        font-size: .5rem;
    }
}


main {
    min-height: 100vh;
    width: 100%;
    position: relative;

    background-image: url(imgs/Must-Read-Book-Club-Books-2022.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(90%) sepia(40%);
    margin-top: -.5rem;
}

.btn-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(indigo, crimson);
    color: white;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 10;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 800;
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 15px 5px yellowgreen;
}



.change-position-btn {
    color: white;
    top: 50%;
    left: 85%;
}

.change-position-menu {
    left: 0;
}

.animation-btn {
    animation: move-btn-Y 1.5s linear infinite;

}

@keyframes move-btn-Y {

    50% {
        transform: translateY(1rem)
    }
   
}

